unit_tests
bolt/build.py
bolt/resources
bolt/sources
bolt/sources/xsupport
src
cirrus.json
js.json

cloudseed.conf
cloudseed/resources
cloudseed/resources/*
cloudseed/templates/_*
cloudseed/templates/_**
cloudseed/generators/_*
cloudseed/generators/_**
jetstream/templates/_*
jetstream/templates/_**
jetstream/generators/_*
jetstream/generators/_**
.bolt-cfg
.bolt-cfg.bak
.bolt-cfg.old
bin/cirrus
bin/cirrus*
bin/cirrus*.upx
GOPATH
GOPATH/*
GOPATH/**

extra/packages/*

go.sum
go.work*
go.work.sum

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

__pycache__
*.pyc
