[submodule "src"]
	path = src
	url = https://github.com/iDigitalFlame/xmt
	branch = main
[submodule "jetstream/data/tinygo"]
	path = jetstream/data/tinygo
	url = https://github.com/iDigitalFlame/TinyPatchedGo
