# Copyright (C) 2020 - 2023 iDigitalFlame
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#

[Unit]
After                   = network-online.target systemd-resolved.service
Requires                = network-online.target systemd-resolved.service
Description             = ThunderStorm: Cirrus Password Proxy Service

[Service]
Type                    = simple
ExecStart               = /usr/bin/python3 -u passwords_proxy.py -a "http://localhost:7777" -p supersecret -t "http://localhost:8081" -f "<data_dir>/passwords.log"
PrivateTmp              = false
ProtectHome             = false
ProtectSystem           = false
PrivateDevices          = true
RestrictRealtime        = false
ProtectKernelLogs       = true
RestrictNamespaces      = true
ProtectControlGroups    = false
ProtectKernelModules    = true
ProtectKernelTunables   = false
RestrictAddressFamilies = AF_INET AF_INET6 AF_NETLINK AF_UNIX

[Install]
RequiredBy              = multi-user.target